<div class="wrap">
  {{#each categories as |category|}}
    {{categories-header-item category=category}}
  {{/each}}
  {{#each categories as |category|}}
    {{categories-header-item category=category}}
  {{/each}}
</div>