html.categories-header {
  .below-site-header-outlet.categories-header {
    margin: 4rem 0 2rem 0;
    .wrap {
      display: flex;
      flex-direction: row;
      column-gap: $gap;
      justify-content: center;
      align-items: center;
      .categories-header-item {
        h3.category-title {
          margin: 0;
          padding: 0;
          .category-title-link {
            color: var(--primary);
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
            .category-logo.aspect-image {
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0;
              padding: 0;
              width: $frame_size;
              height: $frame_size;
              background-color: $frame_bg_color;
              border-radius: $frame_border_radius;
              img {
                width: $logo-size;
                height: $logo-size;
              }
            }
            .category-icon-name { 
              //add this class to align icons and name on one row
              display: flex;
              flex-direction: row;
              column-gap: .4em;
              white-space: nowrap;
              .category-icon-widget {
                line-height: normal; 
                //correct alignment for icons from the category-icons component
              }
            }
          }
        }
      }
    }
  }
}
